[Unit]
Description=Nagios Check Runner
After=network.target

[Service]
ExecStart=/opt/ncr/ncr --config /etc/ncr/ncr.yml
KillMode=process
Restart=always
User=ncr

[Install]
WantedBy=multi-user.target
Alias=ncr.service
